
img{
    /*margin: 10px 15px 0px 0px;*/
/*}*/

/*.photoBorder {*/
    margin: 10px;
    width : 320px;
    height: 240px;
    background-repeat     : no-repeat;
    background-size       : cover;
    background-position-x : 50%;
    background-position-y : 50%;
}

.btn{
    text-align: center;
    align-items: center;
    border-radius: 5px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.4s ease 0s;
}
.btn:before{
    content: "";
    width: 200%;
    height: 180%;
    position: absolute;
    top: -120px;
    left: 30px;
    transform: skew(67deg);
    z-index: -1;
    transition: all 0.4s ease 0s;
}
.btn:hover:before{
    top: -20px;
    left: -52px;
}
.btn.red{
    border: 1px solid #ff3939;
    color: #ff3939;
}
.btn.red:hover:before{
    background: #ff3939;
}
.btn.blue{
    border: 1px solid #3fb7c8;
    color: #3fb7c8;
}
.btn.blue:hover:before{
    background: #3fb7c8;
}
.btn.orange{
    border: 1px solid #f88030;
    color: #f88030;
}
.btn.orange:hover:before{
    background: #f88030;
}
.btn.green{
    border: 1px solid #35c568;
    color: #35c568;
}
.btn.green:hover:before{
    background: #35c568;
}
.btn.yellow{
    border: 1px solid #d31bff;
    color: #d31bff;
}
.btn.yellow:hover:before{
    background: #d31bff;
}
.btn.red:hover,
.btn.blue:hover,
.btn.orange:hover,
.btn.green:hover,
.btn.yellow:hover{
    color: #fff;
}
@media screen and (max-width: 767px){
    .btn{
        margin-bottom: 15px;
    }
}
.pad-15{
    padding: 5px 50px;
}

div {
    /*width: 100px;	height: 100px; !* Размеры *!*/
    /*background: #fc0; !* Цвет фона *!*/
    /*outline: 2px solid #000; !* Чёрная рамка *!*/
    /*border: 3px solid #fff; !* Белая рамка *!*/
    /*border-radius: 10px; !* Радиус скругления *!*/
}

div.col-sm, #footer {
    align-content: center;
    text-align: center;
}